.talents .MuiDialog-paperWidthSm {
  min-width: 800px !important;
}

.MuiTabs-flexContainer {
  justify-content: space-between;
}

.detail-talent-container {
  display: flex;
}

.detail-talent-container .label {
  width: 200px;
  min-width: 200px;
}

.detail-talent-container .content {
  max-width: 500px;
}

.detail-talent-container .mx-3 {
  margin: 0 10px !important;
  width: 10px !important;
}

.status {
  color: white;
  border-radius: 30;
  font-size: 12;
  padding: 2px 25px;
  display: inline-block;
  border-radius: 25px;
  font-size: 14px;
}

.MuiTablePagination-root {
  display: flex !important;
  justify-content: end !important;
  padding-right: 16px !important;
}

.MuiFab-primary {
  position: absolute;
  right: 0;
  bottom: 0;
}

.data-not-found {
  display: flex;
  justify-content: center;
  margin: 50px 0;
  font-size: 36px;
}

.add-btn button {
  border-radius: 50px !important;
  background-image: linear-gradient(45deg, #fb7880, #fe9b79);
  color: white;
  padding: 10px 50px;
}

.confirm-btn {
  border-radius: 50px !important;
  background-image: linear-gradient(45deg, #fb7880, #fe9b79) !important;
  color: white !important;
  padding: 10px 50px !important;
}

.cancel-btn {
  border-radius: 50px !important;
  background-color: #fff6f2 !important;
  color: #fb7880 !important;
  padding: 10px 50px !important;
  border: 1px solid #fb7880 !important;
}

.MuiDialogActions-root {
  display: flex;
  justify-content: space-between !important;
  padding: 25px !important;
}

.MuiBreadcrumbs-separator {
  color: white;
}

.pointer {
  cursor: pointer;
}

.pointer-float {
  cursor: pointer;
}

.pointer-float:hover {
  cursor: pointer;
  box-shadow: 2px 2px 8px #ccc;
}

.sizes {
  max-height: 300px;
  overflow-y: auto;
}

.btn-size {
  min-width: 40px !important;
  width: 40px;
}

.MuiGrid-container {
  height: fit-content;
}

img {
  max-width: none !important;
  object-fit: cover;
}

.p-list {
  height: 70px;
}

.print {
  display: none;
  color: black !important;
}

@media print {
  @page {
    size: 48mm 5.5in !important;
  }

  html,
  body {
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
    color: black !important;
  }

  .print {
    display: block !important;
    color: black !important;
    padding: 15px !important;
  }

  .table,
  td,
  th {
    padding-left: 5px !important;
    text-align: left;
    border: 1px solid black !important;
    border-collapse: collapse !important;
  }

  .title {
    text-align: center;
  }

  .qr-print {
    border: 1px solid #ccc;
    padding: 15px;
    /* margin: 10px; */
    width: fit-content;
  }
  .print-customer {
    padding-left: 60px !important;
  }
}

.print-customer {
  padding: 15px;
  background-color: white;
  color: black;
}

.qr-container {
  margin-top: 5px;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  column-gap: 15px;
}

.qr-item {
  border: 1px solid #ccc;
  padding: 15px;
}

.info-cust-container {
  display: grid;
  grid-template-columns: 40% 40%;
}

.info-cust {
  margin-top: 10px;
}

.info-cust .label {
  font-size: 12px;
  font-weight: bold;
  margin: 0;
}

.info-cust .content {
  font-size: 14px;
  margin: 0;
}
